.lh-sm {
  line-height: 1.5 !important;
}

footer .container-xxl .row:first-of-type img {
  max-width: 300px;
  width: 100%;
}

.card img {
  max-width: 124px;
}

body header .navbar.navbar-expand-md ul.navbar-nav li.selected a.bg-yellow,
body .footer-nav ul li.selected a.watchlive {
  background-color: #da5020;
  color: #FFFFFF;
}

.donation-list .donation-item span {
  font-size: 16px;
}
.donation-list .donation-item img {
  max-width: 80px;
}

.badge a {
  color: #000000 !important;
  text-decoration: none !important;
}

.company-address {
  display: flex;
  flex-direction: column;
}
.company-address p:last-of-type {
  order: 1;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .company-address p:last-of-type {
    font-size: 1rem;
  }
}
.company-address p:first-of-type {
  order: 2;
}

body header .navbar.navbar-expand-md ul.navbar-nav li:last-of-type {
  background-color: #da5020 !important;
}
body header .navbar.navbar-expand-md ul.navbar-nav li:last-of-type a {
  background-color: transparent !important;
  top: 0px !important;
}

@media (max-width: 767px) {
  body header .navbar.navbar-expand-md ul.navbar-nav li:hover, body header .navbar.navbar-expand-md ul.navbar-nav li.selected {
    background-color: transparent;
  }
  body header .navbar.navbar-expand-md ul.navbar-nav li:hover a, body header .navbar.navbar-expand-md ul.navbar-nav li.selected a {
    color: #000000 !important;
  }
}